<!-- ================= SCORECARD ================= -->
<div>
<div id="scoreContent">
<h2 class="fixture-title">🏏 Match Summary</h2>
<div style="text-align:right; margin:10px;">
    <button onclick="reloadScorecard()" class="reload-btn">
        🔄 Reload
    </button>
</div>
<h3 class="result-text">{{ result }}</h3>

<!-- 🔴 FIRST INNINGS -->
<div class="team-header">
    <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + first.batting + '.webp') }}">
    <span>{{ first.batting }}</span>
    <span class="score-right">
        {{ first.score }}-{{ first.wickets }} ({{ first.over }}.{{ first.ball }})
    </span>
</div>

<div class="table-header">
    <span>Batsman</span><span>R</span><span>B</span><span>4s</span><span>6s</span><span>SR</span>
</div>

{% for b in (first.batsman_log or "").split("|") if "=" in b %}
    {% set parts = b.split("=") %}
    {% set name = parts[0] %}
    {% set s = parts[1].split(",") if parts|length > 1 else ["0","0","0","0","0"] %}

    <div class="table-row">
        <div>
            <div class="name" onclick="location.href='/player-details?name={{ name }}'" style="cursor:pointer;">{{ name }}</div>

            {% set clean_name = name.split('(')[0].strip().lower() %}
            <div class="out">
                {{ first.dismissals.get(clean_name, "not out") }}
            </div>
        </div>

        <span>{{ s[0] }}</span>
        <span>{{ s[1] }}</span>
        <span>{{ s[2] }}</span>
        <span>{{ s[3] }}</span>

        {% set runs = s[0]|int %}
        {% set balls = s[1]|int %}

        <span>
        {% if s|length > 4 and s[4]|float > 0 %}
            {{ s[4] }}
        {% elif balls > 0 %}
            {{ ((runs / balls) * 100)|round(2) }}
        {% else %}
            0.00
        {% endif %}
        </span>
    </div>
{% endfor %}

<div class="summary-line">
    <span class="left">Extras {{ first.extra }}</span>
    <span class="right">
        Total {{ first.score }}-{{ first.wickets }} ({{ first.over }}.{{ first.ball }})
    </span>
</div>

<div class="table-header">
    <span>Bowler</span><span>O</span><span>R</span><span>M</span><span>W</span><span>ER</span>
</div>

{% for b in (first.bowler_log or "").split("|") if "=" in b %}
    {% set parts = b.split("=") %}
    {% set name = parts[0] %}
    {% set s = parts[1].split(",") if parts|length > 1 else ["0","0","0","0","0"] %}

    <div class="table-row">
        <span onclick="window.location='/player-details?name={{ name }}'" style="cursor:pointer">{{ name }}</span>
        <span>{{ s[0] }}</span>
        <span>{{ s[1] }}</span>
        <span>{{ s[2] }}</span>
        <span>{{ s[3] }}</span>

        {% set runs = s[1]|int %}
        {% set overs = s[0].split('.') %}

        {% set total_balls = (overs[0]|int * 6) + (overs[1]|int if overs|length > 1 else 0) %}

        <span>
        {% if s|length > 4 and s[4]|float > 0 %}
            {{ s[4] }}
        {% elif total_balls > 0 %}
            {{ ((runs / total_balls) * 6)|round(2) }}
        {% else %}
            0.00
        {% endif %}
        </span>
    </div>
{% endfor %}
{% if first.partnerships %}

    <div class="table-header">
        <span>Partnerships</span>
        <span></span>
        <span></span>
    </div>

    {% for p in first.partnerships %}

    <div class="partnership-row">

        <div class="partnership-left">
            <div class="name" onclick="location.href='/player-details?name={{ p.striker }}'" style="cursor:pointer;">
                {{ p.striker }}
            </div>
        </div>

        <div class="partnership-center">
            {{ p.runs }} ({{ p.balls }})
        </div>

        <div class="partnership-right">
            {{ p.nonStriker }}
        </div>

    </div>

    {% endfor %}

{% endif %}
{% if first.fall_of_wickets %}

    <div class="table-header fow-header">
        <span>Fall of Wickets</span>
        <span>Score</span>
        <span>Over</span>
    </div>

    {% for w in first.fall_of_wickets %}

    <div class="partnership-row">

        <div class="partnership-left">
            {{ w.player }}
        </div>

        <div class="partnership-center">
            {{ w.run }}-{{ w.wicket }}
        </div>

        <div class="partnership-right">
            {{ w.over }}
        </div>

    </div>

    {% endfor %}

    {% endif %}
<!-- 🔵 SECOND INNINGS -->
{% if second and second.score %}

<div class="team-header">
    <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + second.batting + '.webp') }}">
    <span>{{ second.batting }}</span>
    <span class="score-right">
        {{ second.score }}-{{ second.wickets }} ({{ second.over }}.{{ second.ball }})
    </span>
</div>

<div class="table-header">
    <span>Batsman</span><span>R</span><span>B</span><span>4s</span><span>6s</span><span>SR</span>
</div>

{% for b in (second.batsman_log or "").split("|") if "=" in b %}
    {% set parts = b.split("=") %}
    {% set name = parts[0] %}
    {% set s = parts[1].split(",") if parts|length > 1 else ["0","0","0","0","0"] %}

    <div class="table-row">
        <div>
            <div class="name" onclick="location.href='/player-details?name={{ name }}'" style="cursor:pointer;">
                {{ name }}
            </div>

            {% set clean_name = name.split('(')[0].strip().lower() %}
            <div class="out">
                {{ second.dismissals.get(clean_name, "not out") }}
            </div>
        </div>

        <span>{{ s[0] }}</span>
        <span>{{ s[1] }}</span>
        <span>{{ s[2] }}</span>
        <span>{{ s[3] }}</span>

        {% set runs = s[0]|int %}
        {% set balls = s[1]|int %}

        <span>
        {% if s|length > 4 and s[4]|float > 0 %}
            {{ s[4] }}
        {% elif balls > 0 %}
            {{ ((runs / balls) * 100)|round(2) }}
        {% else %}
            0.00
        {% endif %}
        </span>
    </div>
{% endfor %}

<div class="summary-line">
    <span class="left">Extras {{ second.extra }}</span>
    <span class="right">
        Total {{ second.score }}-{{ second.wickets }} ({{ second.over }}.{{ second.ball }})
    </span>
</div>

<div class="table-header">
    <span>Bowler</span><span>O</span><span>R</span><span>M</span><span>W</span><span>ER</span>
</div>

{% for b in (second.bowler_log or "").split("|") if "=" in b %}
    {% set parts = b.split("=") %}
    {% set name = parts[0] %}
    {% set s = parts[1].split(",") if parts|length > 1 else ["0","0","0","0","0"] %}

    <div class="table-row">
        <span onclick="location.href='/player-details?name={{ name }}'" style="cursor:pointer;">
            {{ name }}
        </span>
        <span>{{ s[0] }}</span>
        <span>{{ s[1] }}</span>
        <span>{{ s[2] }}</span>
        <span>{{ s[3] }}</span>

        {% set runs = s[1]|int %}
        {% set overs = s[0].split('.') %}

        {% set total_balls = (overs[0]|int * 6) + (overs[1]|int if overs|length > 1 else 0) %}

        <span>
        {% if s|length > 4 and s[4]|float > 0 %}
            {{ s[4] }}
        {% elif total_balls > 0 %}
            {{ ((runs / total_balls) * 6)|round(2) }}
        {% else %}
            0.00
        {% endif %}
        </span>
    </div>
{% endfor %}

{% endif %}
{% if second.partnerships %}

    <div class="table-header">
        <span>Partnerships</span>
        <span></span>
        <span></span>
    </div>

    {% for p in second.partnerships %}

    <div class="partnership-row">

        <div class="partnership-left">
            {{ p.striker }}
        </div>

        <div class="partnership-center">
            {{ p.runs }} ({{ p.balls }})
        </div>

        <div class="partnership-right">
            {{ p.nonStriker }}
        </div>

    </div>

    {% endfor %}

    {% endif %}
    {% if second.fall_of_wickets %}

        <div class="table-header fow-header">
            <span>Fall of Wickets</span>
            <span>Score</span>
            <span>Over</span>
        </div>

        {% for w in second.fall_of_wickets %}

        <div class="partnership-row">

            <div class="partnership-left">
                {{ w.player }}
            </div>

            <div class="partnership-center">
                {{ w.run }}-{{ w.wicket }}
            </div>

            <div class="partnership-right">
                {{ w.over }}
            </div>

        </div>

        {% endfor %}

    {% endif %}   
</div>
