<!DOCTYPE html>
<html>
<head>
    <title>All Matches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="nav">
    <a href="/stats">Back</a>
    <a href="/">Home</a>
    <a href="/stats">Scorecard</a>
    <a href="/team">Team Info</a>
    <a href="/fixture">Match Fixture</a>
    <a href="/points">Points Table</a>
    <a href="/comments">Comments</a>
</div>

<h2 class="fixture-title">📁 All Matches</h2>

{% for m in matches %}

<div class="history-card" onclick="goDetails('{{ m.file }}')">

    <div class="status-badge {{ m.status|lower }}">
        {{ m.status }}
    </div>

    <div class="match-date">
        {{ m.date if m.date else "Match" }}
    </div>

    <div class="team-row">
        <div class="team-left">
            <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + m.team1 + '.webp') }}"
                class="logo-img"
                onerror="this.src='/static/images/sample.webp'">
            <span>{{ m.team1 }}</span>
        </div>

        <div class="team-score">
            {{ m.team1_score }}/{{ m.team1_wickets }}
            <span>({{ m.team1_over }})</span>
        </div>
    </div>

    <div class="team-row">
        <div class="team-left">
            <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + m.team2 + '.webp') }}"
                class="logo-img"
                onerror="this.src='/static/images/sample.webp'">
            <span>{{ m.team2 }}</span>
        </div>

        <div class="team-score">
            {% if m.team2_score != "" %}
                {{ m.team2_score }}/{{ m.team2_wickets }}
                <span>({{ m.team2_over }})</span>
            {% endif %}
        </div>
    </div>

    <div class="result-row">
        <span class="result-text">

            {% if m.result %}
                {{ m.result }}
            {% elif m.need_text %}
                {{ m.need_text }}
            {% elif m.innings_break %}
                Innings Break
            {% else %}
                {{ m.toss }} opted to {{ m.opt }}
            {% endif %}

            
        </a>
        </span>
    </div>

</div>

{% endfor %}

<script>
function goDetails(file){
    window.location.href = "/match-details?file=" + file;
}
</script>

</body>
</html>