{% for m in matches %}

<div class="history-card" onclick="goDetails('{{ m.file }}') "data-file="{{ m.file }}">
    <div class="match-number"
        style="position:absolute;
                top:10px;
                left:50%;
                transform:translateX(-50%);
                width:max-content;
                font-size:12px;
                font-weight:bold;
                color:#fff;
                background:#222;
                padding:4px 8px;
                border-radius:6px;
                z-index:99999;">
        MATCH-{{ "%02d"|format(m.match_number|int) }}
    </div>
    <div class="status-badge {{ m.status|lower }}">
        {{ m.status }}
    </div>

    <div class="match-date"  style="color:rgb(7, 7, 7);">
        {{ m.date if m.date else "Match" }}
    </div>

    <div class="team-row">
        <div class="team-left">
            <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + (m.team1 or "sample") + '.webp') }}"
                class="logo-img"
                onerror="this.src='/static/images/sample.png'">
            <span style="font-size:18px; font-weight:bold;">{{ m.team1 }}</span>
        </div>

        <div class="team-score">
            {{ m.team1_score }}/{{ m.team1_wickets }}
            <span style="color:rgb(8, 8, 8);">({{ m.team1_over }})</span>
        </div>
    </div>

    <div class="team-row">
        <div class="team-left">
            <img loading="lazy" src="{{ url_for('static', filename='images/teams/' + (m.team2 or "sample") + '.webp') }}"
                class="logo-img"
                onerror="this.src='/static/images/sample.png'">
            <span style="font-size:18px; font-weight:bold;">{{ m.team2 }}</span>
        </div>

        <div class="team-score">

            {% if m.team2_score != "" %}
                {{ m.team2_score }}/{{ m.team2_wickets }}
                <span style="color:rgb(8, 8, 8);">({{ m.team2_over }})</span>
            {% endif %}

        </div>
    </div>

    <div class="result-row">

        <span class="result-text">

            {% if m.result %}

                {{ m.result | safe }}

            {% elif m.need_text %}

                {{ m.need_text | safe }}

            {% elif m.innings_break %}

                <span style="
                    font-size:18px;
                    font-weight:bold;
                    color:#00ff9c;
                ">
                    Innings Break
                </span>

            {% else %}

                <b>{{ m.toss }}</b> opted to {{ m.opt }}

            {% endif %}

        </span>

    </div>

    <!-- 🔥 NEW ACTION ROW -->
    <div class="action-row">

        {% if m.status != "COMPLETED" %}
        <a href="{{ url_for('resume_match', file=m.file) }}" class="resume-btn">
            ▶ Resume
        </a>
        {% endif %}

        {% if not hide_delete %}
        <a href="/delete-match/{{ m.file }}"
        class="delete-icon"
        onclick="event.stopPropagation(); return confirm('Delete this match?')">
        🗑 Delete Match
        </a>
        <a href="{{ url_for('download_match_pdf', filename=m.file) }}"
           onclick="event.stopPropagation();"
           style="
                display:inline-flex;
                align-items:center;
                gap:5px;
                padding:5px 9px;
                background:#222;
                color:white;
                text-decoration:none;
                border-radius:6px;
                font-size:12px;
                font-weight:bold;
           ">
            📥 Downld Mth Smry
        </a>
        {% endif %}

    </div>
</div>

{% endfor %}
<script>
function goDetails(file){
    window.location.href = "/match-details?file=" + file;
}
</script>