{% for live_match in live_matches %}

<div class="card live" onclick="window.location.href='{{ live_match.page }}?file={{ live_match.file }}'">

    <!-- 🔴 STATUS -->
    <div class="status-badge {{ live_match.status|lower }}">
        {{ live_match.status }}
    </div>

    <!-- 🕒 -->
    <div class="match-date live-text">

        {% if live_match.status == "LIVE" %}
            Live Match
        {% else %}
            Last Match
        {% endif %}

    </div>

    <!-- 🔴 TEAM 1 -->
    <div class="team-row">
        <div class="team-left">
            <img loading="lazy" src="{{ url_for('static',
                filename='images/teams/' + (live_match.team1 or 'sample') + '.webp') }}"
                class="logo-img"
                onerror="this.src='/static/images/sample.png'">
            <span>{{ live_match.team1 }}</span>
        </div>

        <div class="team-score">
            {{ live_match.team1_score }}/{{ live_match.team1_wickets }}
            <span>({{ live_match.team1_over }})</span>
        </div>
    </div>

    <!-- 🔵 TEAM 2 -->
    <div class="team-row">
        <div class="team-left">
           <img loading="lazy" src="{{ url_for('static',
                filename='images/teams/' + (live_match.team2 or 'sample') + '.webp') }}"
                class="logo-img"
                onerror="this.src='/static/images/sample.png'">
            <span>{{ live_match.team2 }}</span>
        </div>

        <div class="team-score">
            {% if live_match.team2_score != "" %}
                {{ live_match.team2_score }}/{{ live_match.team2_wickets }}
                <span>({{ live_match.team2_over }})</span>
            {% endif %}
        </div>
    </div>

    <!-- 🏆 RESULT -->
    <div class="result-row">
        <span class="result-text result-live">

            {% if live_match.result %}
                {{ live_match.result }}

            {% elif live_match.need_text %}
                {{ live_match.need_text }}

            {% elif live_match.innings_break %}
                Innings Break

            {% else %}
                {{ live_match.toss }} opted to {{ live_match.opt }}
            {% endif %}

        </span>
    </div>

</div>

{% endfor %}